.imagem{

height:122px;

}

:root{

    --verde: yellowgreen;
    --branco: white;


}

body{

    background-color: var(--verde);
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100hv; 
}

h1{

font-size: 2rem;
margin-bottom: 20px;
color: var(--branco);

}